* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.75);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background_image.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
    margin: 32px;
}

p:not(:last-child) {
    margin-bottom: 8px;
}

.mainContent {
    background-color: rgba(0, 0, 0, 0.75);
    width: 80%;
    max-width: 1280px;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
}

.info {
    margin-bottom: 16px;
}

.infoContents {
    display: flex;
    align-items: center;
}

.infoIcon {
    height: 22px;
    margin-right: 8px;
}

.description {
    max-width: 512px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.contents > * {
    margin-bottom: 64px;
}

.contents > *:not(:last-child) {
    margin-right: 32px;
}

.icon {
    max-width: 256px;
    width: 100%;
    margin-bottom: 8px;
}

.twitter {
    height: 500px;
    width: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}